<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://upload.wikimedia.org/wikipedia/commons/d/db/Rum%2C_Manhattan%2C_Tequila_Old_Fashioned.jpg');">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="ingredients-cards">
    <div class="ingredients-card-category">
      <h3>Ingredients:</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li> <%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to "X", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: 'delete-button'
           %>
           </li>
        <% end %>
      </ul>
    </div>

    <div class="ingredients-card-category">
      <%= render './doses/form' %>
    </div>
  </div>
</div>
